/HumanResourceOfficer/target/
/HumanResourceOfficer/nbproject/private/
/HumanResourceOfficer/build/
/HumanResourceOfficer/dist/
/HRO_Test/nbproject/private/
/HRO_Test/build/
/HRO/nbproject/private/
/HRO/build/
/Hospital_Management_System/nbproject/private/
/Hospital_Management_System/build/
/Hospital_Management/nbproject/private/
/Hospital_Management/build/
